<figure class="card">
    <div class="card__hero">
        <img src="/{%IMAGE%}" alt="{%SANDWICHNAME%}" class="card__img">
    </div>
    <h2 class="card__name">{%SANDWICHNAME%}</h2>
    <p class="card__detail"><span class="emoji-left">🥓🍟🥫</span> {%SIDE%}</p>
    <p class="card__detail"><span class="emoji-left">🥩</span> {%MEAT%}</p>
    <div class="card__footer">
        <p class="card__price">${%PRICE%}</p>
        <a href="/sandwich?id={%ID%}" class="card__link">Check it out <span class="emoji-right">👉</span></a>
    </div>
</figure>